ac97/*
ad5626/*
ad79x0/*
ade77xx/*
adf435x/*
adns5020/*
adxl345/*
am230x/*
amulet_ascii/*
arm_etmv3/*
arm_itm/*
arm_tpiu/*
atsha204a/*
aud/*
avr_isp/*
avr_pdi/*
caliper/*
can/*
cc1101/*
cec/*
cfp/*
cjtag/*
common/*
counter/*
dali/*
dcf77/*
dmx512/*
ds1307/*
ds2408/*
ds243x/*
ds28ea00/*
dsi/*
edid/*
eeprom24xx/*
eeprom93xx/*
em4100/*
em4305/*
enc28j60/*
flexray/*
graycode/*
guess_bitrate/*
hdcp/*
i2c/*
i2cdemux/*
i2cfilter/*
i2s/*
ieee488/*
ir_irmp/*
ir_nec/*
ir_rc5/*
ir_rc6/*
ir_sirc/*
jitter/*
jtag/*
jtag_ejtag/*
jtag_stm32/*
lfast/*
lin/*
lm75/*
lpc/*
ltc242x/*
ltc26x7/*
maple_bus/*
max7219/*
mcs48/*
mdio/*
microwire/*
midi/*
miller/*
mlx90614/*
modbus/*
morse/*
mrf24j40/*
mxc6225xu/*
nes_gamepad/*
nrf24l01/*
nrf905/*
numbers_and_state/*
nunchuk/*
onewire_link/*
onewire_network/*
ook/*
ook_oregon/*
ook_vis/*
pan1321/*
parallel/*
pca9571/*
pjdl/*
pjon/*
ps2/*
pwm/*
qi/*
rc_encode/*
rfm12/*
rgb_led_spi/*
rgb_led_ws281x/*
rtc8564/*
sae_j1850_vpw/*
sda2506/*
sdcard_sd/*
sdcard_spi/*
sdq/*
seven_segment/*
signature/*
sipi/*
sle44xx/*
spdif/*
spi/*
spiflash/*
ssi32/*
st25r39xx_spi/*
st7735/*
stepper_motor/*
swd/*
swim/*
t55xx/*
tca6408a/*
tdm_audio/*
timing/*
tlc5620/*
uart/*
usb_packet/*
usb_power_delivery/*
usb_request/*
usb_signalling/*
wiegand/*
x2444m/*
xfp/*
xy2-100/*
z80/*
